.dflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  transition: background-color 0.5s ease-in;
}
footer:hover {
  background-color: white;
}
footer li {
  margin: 13px;
}
.margin {
  margin: 10px;
}

.social-media svg {
  font-size: 30px;
}
@media (max-width: 320px) {
  footer{
    width: 100%
    color
  };
  .social-media {display: flex;flex-direction: row;}

}