*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
body{
    background-color: #EAEAEA;
}
.container{
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
li{
    list-style-type:none;
}
iframe{
    border: none;
}
@media (max-width:320px){
    .container{
        width: 100%;
        margin: 10px;
      }
      .terms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px;
        gap: 20px;
      }
}