/* Cart.css */
.cart-container {
  display: flex;
  flex-direction: column;
  gap:  30px;
}
.cart-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px;
  padding: 10px;
  gap: 50px;
  align-items: baseline;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 1px 2px 4px 5px rgb(218, 218, 218);
  padding: 10px;
  text-align: center;
  transition: background-color 1s ease;
  background-color: transparent;
}
.cart-item:hover {
  background-color: #ffffff;
}
.item-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-item img {
  max-width: 220px;
  height: auto;
}

.cart-item h2 {
  font-size: 1.2rem;
}

.cart-item p {
  font-size: 1rem;
  color: #333;
}
.cart-btn button {
  font-size: 1.6rem;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(175, 175, 175);
}
.cart-btn button:hover {
  background-color: orange;
}
.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.delete-btn button {
  margin: 20px;
  background-color: transparent;
}
.total-btn{
  background-color: white;
  border-radius: 30px;
  box-shadow: 1px 2px 2px 1px rgb(223, 223, 223);
  
}
.total-btn button{
  width: 100%
  he
}