.banner-bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid red;
}
@media (max-width:320px) {
  .banner-bg video{
   width: 100%;
  }
}
